body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.hero {
  background: linear-gradient(to right, #f3e8ff, #ffffff);
}

.hero-img {
  max-height: 500px;
}

.slider-img {
  height: 500px;
  object-fit: cover;
}

.card {
  transition: 0.3s;
  border-radius: 18px;
}

.card:hover {
  transform: translateY(-8px);
}

.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.btn-dark {
  border-radius: 10px;
}

footer {
  margin-top: 40px;
}