body{
  font-family: Arial;
  padding-top: 70px;
}

.hero{
  background: linear-gradient(to right,#f3e7ff,#ffffff);
}

.hero-img{
  max-height: 450px;
}

.slider-img{
  width:100%;
  height:450px;
  object-fit:cover;
}

.card img{
  height:220px;
  object-fit:cover;
}

.bg-purple{
  background:#7b2cbf;
}

.card{
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}